Scratch/
Animator/assets/gfx/defenders/crab/
Animator/assets/gfx/defenders/glitch/glitch.zip
Animator/assets/xml/entities/defenders/crab.xml
Animator/assets/gfx/creatures/crab/
Animator/assets/xml/entities/crab.xml
